body{
    background-color: beige;
  background: url('./park-3840x2160-5k-4k-wallpaper-8k-autumn-beautiful-leaves-trees-12400\ \(1\).jpg');
  background-size: cover;
  background-repeat: no-repeat;
  
}
h1{
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px #172fce;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.undermain{
    background-color: #ffffff36;
    width: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40vh;
    border-radius: 20px;
    box-shadow: 4px 4px 8px white,
                 -4px -4px 8px white;
}
.temp{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.options{
    display: flex;
    height: 5vh;
    width: 20vw;
    border-radius: 20px;
    text-align: center;
    border: none;
    margin-left: -6.5vw;
}
.option1{
    display: flex;
}
#options-from{
    height: 5vh;
    width: 10vw;
    border-radius: 20px;
    text-align: center;
    border: none;
    margin-top: 1.5vh;
    margin-right: 20px;
}
#options-To{
    height: 5vh;
    width: 10vw;
    border-radius: 20px;
    text-align: center;
    border: none;
    margin-top: 1.5vh;
}
.inputarea{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
#input{
  
    height: 5vh;
    width: 28vw;
    text-align: center;
    border-radius: 20px;
    border: none;
    margin-bottom: 10px;
}
button{
    height: 4vh;
    width: 28vw;
    background-color: blue;
    color: white;
    box-shadow: 4px 4px 8px gray;
    border-radius: 20px;
    border: none;
   
}
h3{
    color: white;
    text-shadow: 2px 2px 4px #172fce;
}
#result{
    background-color: #ffffff61;
    height: 5vh;
    width: 28vw;
    margin-top: 2vh;
    border-radius: 20px;
    text-align: center;
    display: none;
}
#res{
    margin-top: 1vh;
}